<div class="form_album" id="form_album">
    <div class="form_text">
        <div class="input_name">Name</div>
        <div class="input_name">Singer</div>
        <div class="input_name">Songs</div>
    </div>
    <div class="form_input">
        <div class="input_border"><input class="input" type="text"></div>
        <div class="input_border">
            <select class="list">
                <option selected ="-"></option>
                <option>CYN</option>
                <option>BTS</option>
                <option>Nirvana</option>
                <option>Avicii</option>
                <option>Eminem</option>
                <option>90sFlvs</option>
            </select>
            <div class="arrowDownImg"><img src="~/images/arrowDown.svg"></div>
        </div>
        <div class="input_border">
            <select class="list">
                <option selected ="-"></option>
                <option>Song</option>
                <option>Song</option>
                <option>Song</option>
            </select>
            <div class="arrowDownImg"><img src="~/images/arrowDown.svg"></div>
        </div>
       
    </div>
</div>
