<div class="form_song" id ="form_song">
    <div class="form_text">
        <div class="input_name">Name</div>
        <div class="input_name">Singer</div>
        <div class="input_name">Album</div>
        <div class="input_name">Genres</div>
    </div>
    <div class="form_input">
        <div class="input_border"><input class="input" type="text"></div>
        <div class="input_border">
            <select class="list">
                <option selected ="-"></option>
                <option>CYN</option>
                <option>BTS</option>
                <option>Nirvana</option>
                <option>Avicii</option>
                <option>Eminem</option>
                <option>90sFlvs</option>
            </select>
            <div class="arrowDownImg"><img src="~/images/arrowDown.svg"></div>
        </div>
        <div class="input_border">
            <select class="list">
                <option selected ="-"></option>
                <option>Album</option>
                <option>Album</option>
                <option>Album</option>
            </select>
            <div class="arrowDownImg"><img src="~/images/arrowDown.svg"></div>
        </div>
        <div class="input_border">
            <select class="list">
                <option selected ="-"></option>
                <option>Pop</option>
                <option>KPop</option>
                <option>Rock</option>
                <option>Electronic</option>
                <option>Rap</option>
                <option>LoFi</option>
            </select>
            <div class="arrowDownImg"><img src="~/images/arrowDown.svg"></div>
        </div>
    </div>
</div>
