<div class="form_singer" id="form_singer">
    <div class="form_text">
        <div class="input_name">Name</div>
        <div class="input_name">Songs</div>
        <div class="input_name">Albums</div>
    </div>
    <div class="form_input">
        <div class="input_border"><input class="input" type="text"></div>
        <div class="input_border">
            <select class="list">
                <option selected ="-"></option>
                <option>Song</option>
                <option>Song</option>
                <option>Song</option>
            </select>
            <div class="arrowDownImg"><img src="~/images/arrowDown.svg"></div>
        </div>
        <div class="input_border">
            <select class="list">
                <option selected ="-"></option>
                <option>Album</option>
                <option>Album</option>
                <option>Album</option>
            </select>
            <div class="arrowDownImg"><img src="~/images/arrowDown.svg"></div>
        </div>
    </div>
</div>
