<footer class="footer">
    <div class="container">
        <div class="footer_info">
            <p>MUSIC LIBRARY</p>
            <p class="footer_info_text_2">PROJECT FOR CSF VSU</p>
            <p>© 2022</p>
        </div>
    </div>
</footer>