<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="name" href="#">Music Library</a>
            <a class="about" href="#">About</a>
        </nav>
    </div>
</header>