<section class="headline">
    <div class="container">

        <video class="headline_video" src="~/videos/headlineVideo.mp4"
                autoplay=""
                playsinline=""
                loop=""
                muted="">
        </video>

        <div class="headline">
            <h1 class="title">Music Library</h1>
            <div class="lines">
                <div class="line_1"></div>
            </div>
            <div class="intro_text">
                <p>YOUR OWN MUSIC LIBRARY</p>
                <p class="intro_text_text_2">SIMPLE AND AESTHETIC MUSIC STORAGE</p>
                <p>© 2022</p>
            </div>
            <div class="lines">
                <div class="line_2"></div>
                <div class="player">
                    <img class="player_img" src="~/images/player.svg">
                    <div class="line_3"></div>
                </div>
            </div>
        </div>
    </div>
</section>
