<div class="card">
    <img class="song_image" src="~/images/songImage.png">
    <div class="card_text_container">
        <div class="vertical_line"></div>
        <div class="card_text">
            <div class="card_text_song_name">Drinks</div>
            <div class="card_text_info">CYN</div>
            <div class="card_text_info">Drinks</div>
            <div class="card_text_info">Pop</div>
        </div>
    </div>
</div>